@using Battleships.Runner.Models
@model IEnumerable<PlayerRecord>

@{
    ViewBag.Title = "My Players";
}

@Styles.Render("~/bundles/styles/manageplayers")

<br/>
<table class=" table table-striped" id="playerTable">
    <tr>
        <th>Player Name</th>
        <th></th>
    </tr>
    @foreach (var player in Model) {
        <tr>
            <td>@player.Name</td>
            <td class ="td-align">
                @using (Html.BeginForm(MVC.ManagePlayers.DeletePlayer(), FormMethod.Post)) {
                    @Html.Hidden("playerId", player.Id)
                    <input class="btn" id="submit" type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>