@using Battleships.Core.Models
@model IEnumerable<PlayerRecord>

@{
    ViewBag.Title = "My Players";
}

@Styles.Render("~/bundles/styles/manageplayers")

<br/>
<table class=" table table-striped" id="playerTable">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Last Updated</th>
            <th id="WinHeader">Wins&nbsp;&nbsp;-</th>
            <th id="LossHeader">&nbsp;&nbsp;Losses</th>
        </tr>
    </thead>

    @foreach (var player in Model) {
        <tr>
            <td>
                @Html.ActionLink(player.Name, MVC.PlayerProfile.Index(player.Id))
            </td>
            <td>@player.LastUpdated</td>
            <td id="WinCell">@player.WonMatchResults.Count&nbsp;&nbsp;-</td>
            <td id="LossCell">&nbsp;&nbsp;@player.LostMatchResults.Count</td>
        </tr>
    }
</table>