.table-overwrite{
    width:100px;
}

input#File, input#Picture {
    display:none;
}

.input-large{
    width: 1200px;
}

#newPlayerBox{
    text-align: center;
}

#textBoxCoverLeft{ //fixing photocover's position as code wouldn't display correctly
    float: left;
}
#textBoxCoverRight{
    float: right;
}

.addPlayerTips, #sameNameWarningMessage{
    text-align: center;
}

#submit1, #submit2{
    margin-left: auto;
    margin-right: auto;
}