.table-overwrite{
    width:100px;
}

input#File {
    display:none;
}

input#Picture{
    display:none;
}


.input-large{
    width: 1200px;
}

#newPlayerBox{
    text-align: center;
}

#photoCover1{ //fixing photocovers position as code wouldn't display correctly
    float: left;
}
#photoCover2{
    float: right;
}

.addPlayerTips{
    text-align: center;
}

#sameNameWarningMessage{
    text-align: center;
}

#submit1{
    margin-left: auto;
    margin-right: auto;
}

#submit2{
    margin-left: auto;
    margin-right: auto;
}