@using Battleships.Runner.Models
@model IEnumerable<GameResult>

@Styles.Render("~/bundles/styles/gameresults/index")

@{
    ViewBag.Title = "Game Results Log";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Winner</th>
            <th>Loser</th>
            <th>Time Played</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var gameResult in Model) {
            <tr class="tableContent">
                <td>@gameResult.Winner.Name</td>
                <td>@gameResult.Loser.Name</td>
                <td>@gameResult.TimePlayed</td>
            </tr>
        }
    </tbody>
</table>