@using Battleships.Web.Models.Home
@model CreateAccountViewModel

@{
    ViewBag.Title = "Sign Up";
}


@using (Html.BeginForm(MVC.Home.Register(), FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div>@Html.ValidationMessageFor(m => m.SqlError)</div>
    <br/>
    <div class="form-group">
        <label for="Name">Username: </label>
        <input id="Name" name="name" class="form-control" type="text" placeholder="" />
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        <label for="Password">Password: </label>
        <input id="Password" name="password" class="form-control" type="password" placeholder="" />
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm password: </label>
        <input id="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" placeholder="" />
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <input class="btn" id="submit" type="submit" value="Submit" />
}

<style type="text/css">
    .field-validation-error { color: red; }

    .validation-summary-errors { color: Red; }
</style>