@import "../large.less";

#leaderboard {
    th {
        text-align: center;
    }

    .player {
        font-weight: bold;
        text-align: center;

        td:nth-child(1) {
            text-align: left;
        }
    }

    .round-stats {
        text-align: right;
        display: none;
    }
}

#gameSetup {
    text-align: center;
    #runLeagueButton {
        font-size: 3em;
        margin-top: 0.35em;
        width: 30%;
        border-radius: 0.28em;
    }
}

#loading-spinner {
    text-align: right;
}

#noLeagueBefore {
    text-align: center;
}

h3 {
    text-align: center;
}