@import "../large.less";

#leaderboard {
    th {
        text-align: center;
    }

    .player {
        font-weight: bold;
        text-align: center;

        td:nth-child(1) {
            text-align: left;
        }
    }

    .round-stats {
        text-align: right;
        display: none;
    }
}

#gameSetup {
    text-align: center;
    #runLeagueButton {
        .large;
        margin-top: 0.5em;
        width: 55%;
    }
}