@import "../large.less";
@successColor: #5cb85c;

#playerUpdated{
     position: absolute;
    z-index: 101;
    top: 50px;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    box-shadow:         0 0 5px black;

}

#challenge {
    text-align: center;
    min-height:520px;
    .player {
        .large;
        color: lightgray;
        border: solid;
        width: 75%;
        margin: auto;
        background: url(../../Images/remove.png) no-repeat right -515px center;
        padding: 3px 4px;

        &.filled {
            color: @successColor;
            padding-right: 100px; /* Use the same right padding in the JavaScript. */
        }
        &.x {
            background-position: right 5px center;
        }
        &.onX {
            cursor:pointer;
        }
    }
    #runGameButton{
        .large;
        margin-top: 0.5em;
        width: 55%;
    }
    #vs {
        font-size: 4em;
        color: gray;
    }
    #winner {
        .large;
        color: @successColor;
        line-height: 3em;
        display:none;
    }
    #resultType {
        font-size: 2em;
        color: @successColor;
        line-height: 1em;
        display:none;
    }
    #resetGameButton {
        font-size: 2em;
        border-radius: 0.2em;
        margin-top: 0.3em;
        width: 40%;
    }
    #loading-spinner {
        display:none;
    }
}
.actions {
    width: 12%;
}