table{
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
}

th, td {
    border: 1px solid transparent;
    height: 30px;
}

th{
    background: #CFCFCF;
    font-weight: bold;
    text-align: center;
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
}

td{
    background: #FAFAFA;
    text-align: center;
}

tr:nth-child(even) td {
    background: #F4F4F4;
}

tr:nth-child(odd) td{
    background: #e4e4e4;
}

tr:last-child td:first-child{
    border-radius: 0 0 0 6px;
}

tr:last-child td:last-child{
    border-radius: 0 0 6px 0;
}

tr:last-child td:only-child{
    border-radius: 0 0 6px 6px;
}

