@using Battleships.Web.Factories
@model LeaderboardFactory
@Styles.Render("~/bundles/styles/league")

@{
    ViewBag.Title = "League";
}

@using (Html.BeginForm(MVC.League.RunLeague(), FormMethod.Post, new { id = "run-league" })) {}
@using (Html.BeginForm(MVC.League.LatestLeagueResults(), FormMethod.Get, new { id = "latest-league" })) {}

<div id="noLeagueBefore" class="leagueMessage">
    <h3>No league has been run before.</h3>
</div>

<div id="noLeagueRun" class="leagueMessage">
    <h3>League could not be run; please change players and play again.</h3>
</div>

@{
    <h3 id="latestResults" class="leagueMessage"> Latest League Results (@ViewBag.LatestLeague): </h3>
    <table class="table table-hover" id="leaderboard">
        <thead>
            <tr>
                <th></th>
                <th>Match Wins</th>
                <th>Match Losses</th>
                <th>Total rounds won</th>
            </tr>
        </thead>
    </table>
}

<div id="gameSetup">
    <button id="runLeagueButton" type="button" class="btn btn-info">
        Run League
    </button>
</div>

<button id="resetGameButton" type="button" class="btn btn-success">Play again?</button>
<div id="loading-spinner">
    <img src="../../Images/Explodingbattleship.gif" alt="Loading...">
</div>


@section scripts{
    @Scripts.Render("~/bundles/scripts/league/index")
    <script type="text/javascript">
        $(function() {
            battleships.league.index.init();
        });
    </script>
}